
<div class="absolute w-60 h-60 rounded-xl  -top-5 -left-16 z-0 transform rotate-45 hidden md:block">
</div>

<div class="absolute w-48 h-48 rounded-xl bg-primary -bottom-6 right-10 transform rotate-12 hidden md:block"></div>

<div>
  <!--
    This example requires updating your template:

    ```
    <html class="h-full bg-gray-100">
    <body class="h-full">
    ```
  -->
  <div class="min-h-full">
    <!-- user tab -->

    <div x-data="{ sidebarOpen: false }" class="flex h-screen bg-gray-200">
      <div
        :class="sidebarOpen ? 'block' : 'hidden'"
        class="fixed z-20 inset-0 bg-black opacity-50 transition-opacity lg:hidden"
      ></div>

      <div class="flex-1 flex flex-col overflow-hidden">
        <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
          <div class="container mx-auto px-6 py-8">
            <h3 class="text-gray-700 text-3xl font-medium">
              All Consultation:
            </h3>

            <div class="mt-8"></div>

            <div class="flex flex-col mt-8">
              <div
                class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8"
              >
                <div
                  class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200"
                >
                  <table class="min-w-full">
                    <thead>
                    <tr>
                      <th
                        class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                      >
                        Nom
                      </th>
                      <th
                        class="px-6 py-3 border-b border-gray-200 bg-gray-50  text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                      >
                        Prenom
                      </th>
                      <th
                        class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                      >
                        Email
                      </th>
                      <th
                        class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                      >
                        ville
                      </th>
                      <th
                        class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                      >
                        date
                      </th>
                      <th
                        class="px-6 py-3 border-b border-gray-200 bg-gray-50  text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                      >
                        Type
                      </th>
                      <th
                        class="px-6 py-3 border-b border-gray-200 bg-gray-50  text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                      >
                        statut
                      </th>
                    </tr>
                    </thead>

                    <tbody class="bg-white">
                    <tr *ngFor="let d of data">
                      <td
                        class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
                      >
                        <div class=" text-center text-bold leading-5 text-gray-900">
                          {{d.client.nom}}
                        </div>
                      </td>

                      <td
                        class="px-6 py-4  text-center whitespace-no-wrap border-b border-gray-200"
                      >
                        <div class="text-sm text-center leading-5 text-gray-900">
                          {{d.client['prenom']}}
                        </div>
                      </td>

                      <td
                        class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
                      >
                        <div class="text-center text-sm leading-5 text-gray-900">
                          {{d.client.email}}

                        </div>
                      </td>
                      <td
                        class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
                      >
                        <div class=" text-center text-sm leading-5 text-gray-900">
                          {{d.client.ville}}

                        </div>
                      </td>

                      <td
                        class=" text-center px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500"
                      >
                        {{d['date_creneau']}} {{'  ' + d['creneau'].heureDebut + 'h00'}}

                      </td>
                      <td
                        class=" text-center px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500"
                      >
                        {{d.type}}
                      </td>

                      <td
                        class=" text-center px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500"
                      >
<!--                        {{d['reponse']}}-->
                        {{status ? 'Terminer' : ''}}
                        <button *ngIf="!status"
                                (click)="validerConsultation(d.id)"
                                class="inline-flex cursor-pointer items-center justify-center h-12 px-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md bg-primary hover:bg-white hover:text-primary focus:shadow-outline focus:outline-none"
                                aria-label="Sign up" title="Sign up">
                          terminer!
                        </button>
                      </td>

                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
  <div
    class="w-20 h-40 absolute bg-primary_1 rounded-full bottom-20 left-10 transform rotate-45 hidden md:block"></div>


</div>
